body {
  font-family: 'Roboto', sans-serif;
}

.sectiontitle {
  position: absolute;
  top: 30px;
  left: 33%;
  font-family: 'Big Shoulders Text', sans-serif;
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 0.01em;
  text-align: center;
}

.sectionsub2 {
  position: absolute;
  width: 300px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
}


.sectiontitlesub {
  position: absolute;
  top: 40px;
  left: 1%;
  width: 500px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.mainContainer {
  position: absolute;
  width: 1450px;
  height: 4240px;
  background: #e9ebee;
  border: 20px solid #1e1e1e;
}

.mainHeading {
    position: absolute;
    width: 1450px;
    height: 200px;
    background: #6078d8;
    align-content: center;
    align: center;
    text-align: center;
}
.heading {
  position: absolute;
  left: 19%;
  top: -20%;
  font-family: 'Big Shoulders Text', sans-serif;
  letter-spacing: 0.01em;
  font-size: 80px;
  font-weight: 800;
  color: #fff;
  text-align: center;
}

.subHeading {
  position: absolute;
  top: 120px;
  left: 29%;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.section1 {
  position: absolute;
  top: 200px;
  width: 1450px;
  height: 800px;
  background: #ffffff;
  border-bottom: 20px solid #1e1e1e;
  align-content: center;
  align-items: center;
}

.timelineSM {
  position: absolute;
  top: 150px;
  left: 40px;
  width: 1410px;
  height: 600px;
  background: #ffffff;
}

.section2 {
  position: absolute;
  top: 1020px;
  width: 1450px;
  height: 2200px;
  background: #edbbbb;
  border-bottom: 20px solid #1e1e1e;
  align-content: center;
  align-items: center;
}
.sectiontitle.two {
  position: absolute;
  left: 37%;
}
.sectiontitlesub.two {
  position: absolute;
  left: -8%;
}

.comparisonSM {
  position: absolute;
  top: 150px;
  left: 100px;
  width: 1180px;
  height: 500px;
  background: #edbbbb;
}


.sectiontitle.twoComparison {
  position: absolute;
  top: 700px;
  left: 30%;
}

.sectiontitlesub.twoComparison {
  position: absolute;
  left: 6%;
}
.sectionsub2.twoSM1 {
  position: absolute;
  top: 880px;
  left: 120px;
}

.hourlycomparisonSM1 {
  position: absolute;
  top: 950px;
  left: 0px;
  width: 500px;
  height: 500px;

}

.sectionsub2.twoSM2 {
  position: absolute;
  top: 880px;
  left: 580px;
}

.hourlycomparisonSM2 {
  position: absolute;
  top: 940px;
  left: 470px;
  width: 500px;
  height: 500px;

}

.sectionsub2.twoSM3 {
  position: absolute;
  top: 880px;
  left: 1070px;
}
.hourlycomparisonSM3 {
  position: absolute;
  top: 940px;
  left: 950px;
  width: 500px;
  height: 500px;

}

.sectionsub2.twoSM4 {
  position: absolute;
  top: 1500px;
  left: 300px;
}
.hourlycomparisonSM4 {
  position: absolute;
  top: 1540px;
  left: 190px;
  width: 500px;
  height: 500px;

}

.sectionsub2.twoSM5 {
  position: absolute;
  top: 1500px;
  left: 850px;
}
.hourlycomparisonSM5 {
  position: absolute;
  top: 1540px;
  left: 750px;
  width: 500px;
  height: 500px;

}

.section3 {
  position: absolute;
  top: 3240px;
  width: 1450px;
  height: 1000px;
  background: #addba7;
  align-content: center;
  align-items: center;
}

.sectiontitlesub.three {
  position: absolute;
  left: -2%
}

.sectionsub3 {
  position: absolute;
  width: 400px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.sectionsub3.one {
  position: absolute;
  top: 250px;
  left: 190px;
}

.battelecuseSM {
  position: absolute;
  top: 350px;
  left: 80px;
  width: 600px;
  height: 600px;
}

.battelecuseSM2 {
  position: absolute;
  top: 350px;
  left: 750px;
  width: 600px;
  height: 600px;
}
.sectionsub3.two {
  position: absolute;
  top: 250px;
  left: 870px;
}
