body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
}

h4 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 14px;
  line-height: 0.5em;
  font-weight: 700;
  color: white;
}


li {
  color: white;
}

.headinfoline {
  font-size: 12px;
    line-height: 2.5em;
  width: 816px;
  height: 30px;
  align-content: center;
  text-align: center;
  color: white;
  background: green;
  align
}

.background {
  position: absolute;
  width: 816px;
  height: 1056px;
  background: rgb(30,79,1);
  background: linear-gradient(350deg, rgba(30,79,1,1) 0%, rgba(86,185,65,0.8925945378151261) 27%, rgba(247,255,244,0.8981967787114846) 100%);
}

.year3 {
  position: absolute;
  top: 470px;
  left: 350px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  font-style: italic;
  font-size: 90px;
  Color: #a2ca90;
  letter-spacing: 10px;
}

.year2 {
  position: absolute;
  top: 460px;
  left: 340px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  font-style: italic;
  font-size: 90px;
  Color: #8abb78;
  letter-spacing: 10px;
}

.year {
  position: absolute;
  top: 450px;
  left: 330px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  font-style: italic;
  font-size: 90px;
  Color: white;
  letter-spacing: 10px;
}


.mnd {
  position: absolute;
  top: 80px;
  left: 685px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  font-style: italic;
  font-size: 35px;
  line-height: 1em;
  color: green;
}

.infmd {
  position: absolute;
  top: 160px;
  left: 590px;
  Color: green;
  width: 200px;
  text-align: right;
}

.programdetails {
  position: absolute;
  top: 690px;
  left: 20px;
  width: 816px;
  height: auto;
}

.progtitle {
  position: absolute;
  top: 30px;
  left: 0px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  font-size: 30px;
  color: white;
}

.progsubtitle {
  position: absolute;
  top: 5px;
  left: 530px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.progdesc {
  position: absolute;
  top: 15px;
  left: -20px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 200;
  font-size: 14px;
  line-height: 1em;
  color: white;
  letter-spacing: -0.3px;
}

.linesep {
  position: absolute;
  top: 785px;
  width: 816px;
  height: 4px;
  background: white;
}

.studioinfos {
  position: absolute;
  top: 810px;
  left: 20px;
  width: 816px;
  height: auto;
}


.columntext1 {
  left: 0px;
  position: absolute;
  width: 230px;
  color: white;
}

.columntext2 {
  position: absolute;
  left: 260px;
  width: 230px;
  color: white;
}

.columntext3 {
  position: absolute;
  left: 530px;
  width: 230px;
  color: white;
}

.rsvpbutton {
  position: absolute;
  top:570px;
  left: 640px;
  width: 150px;
  height: 60px;
  background: green;
}


.rsvptext {
  position: absolute;
  top:590px;
  left: 665px;
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-size: 35px;
  letter-spacing: 5px;
  font-weight: 900;
}

.rsvplink {
  color: white;
}



/* CSS for all Letters */

.letter-t {
	position: absolute;
  left: -60px;
}

.t-left-bar {
	position: absolute;
	top: 60px;
	left: 80px;
	width: 20px;
	height: 80px;
	background: green;
}

.t-bottom-left-corner {
	position: absolute;
	top: 140px;
	left: 80px;
	width: 20px;
	height: 20px;
	background: green;
	border-bottom-left-radius: 20px;
}

.t-bottom-bar {
	position: absolute;
	top: 140px;
	left: 100px;
	width: 20px;
	height: 20px;
	background: green;
}

.t-cross-bar {
	position: absolute;
	top: 80px;
	left: 70px;
	width: 50px;
	height: 20px;
	background: green;
}

.letter-h {
position: absolute;
left: 30px;
}

.h-left-stem {
	position: absolute;
	top: 50px;
	left: 60px;
	width: 20px;
	height: 110px;
	background: green;
}

.h-bowl-top-line {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 40px;
	height: 20px;
	background: green;
}

.h-bowl-top-right-corner {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 120px;
	top: 80px;
	background: green;
	border-top-right-radius: 20px;
}

.h-bowl-right-line {
	position: absolute;
	top: 100px;
	left: 120px;
	width: 20px;
	height: 60px;
	background: green;
}

.letter-e {
	position: absolute;
  left: 150px;
  top: 60px;
  transform: scale(0.82)
}

.eleft1 {
	position: absolute;
	top: 80px;
	left: 60px;
	width: 20px;
	height: 60px;
	background: green;
}

.elefttop1 {
	position: absolute;
	top: 60px;
	left: 60px;
	width: 20px;
	height: 20px;
	background: green;

}

.eleftbottom1 {
	position: absolute;
	top: 140px;
	left: 60px;
	width: 20px;
	height: 20px;
	background: green;
	border-bottom-left-radius: 20px;
}

.etopbar1 {
	position: absolute;
	top: 60px;
	left: 80px;
	width: 40px;
	height: 20px;
	background: green;
}

.erighttop1 {
	position: absolute;
	top: 60px;
	left: 120px;
	width: 20px;
	height: 20px;
	background: green;
	border-top-right-radius: 20px;
}

.erightbar1 {
	position: absolute;
	top: 80px;
	left: 120px;
	width: 20px;
	height: 20px;
	background: green;
}

.erightbar2 {
	position: absolute;
	top: 100px;
	left: 120px;
	width: 20px;
	height: 20px;
	background: green;
	border-bottom-right-radius: 20px;
}
.ebottombar1 {
	position: absolute;
	top: 100px;
	left: 80px;
	width: 40px;
	height: 20px;
	background: green;
}

.ebottombar2 {
	position: absolute;
	top: 140px;
	left: 80px;
	width: 40px;
	height: 20px;
	background: green;
}

.ebottombar3 {
	position: absolute;
	top: 140px;
	left: 120px;
	width: 20px;
	height: 20px;
	background: green;
	border-bottom-right-radius: 20px;
}

.letter-o {
	position: absolute;
  left: 235px;
}

.o-left-bar {
	position: absolute;
	top: 100px;
	left: 60px;
	width: 20px;
	height: 40px;
	background: green;
}

.o-top-left-corner {
	position: absolute;
	top: 80px;
	left: 60px;
	width: 20px;
	height: 20px;
	background: green;
	border-top-left-radius: 20px;
}

.o-top-bar {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 40px;
	height: 20px;
	background: green;
}

.o-top-right-corner {
	position: absolute;
	top: 80px;
	left: 120px;
	width: 20px;
	height: 20px;
	background: green;
	border-top-right-radius: 20px;
}

.o-right-bar {
	position: absolute;
	top: 100px;
	left: 120px;
	width: 20px;
	height: 40px;
	background: green;
}

.o-bottom-right-corner {
	position: absolute;
	top: 140px;
	left: 120px;
	width: 20px;
	height: 20px;
	background: green;
	border-bottom-right-radius: 20px;
}

.o-bottom-bar {
	position: absolute;
	top: 140px;
	left: 80px;
	width: 40px;
	height: 20px;
	background: green;
}

.o-bottom-left-corner {
	position: absolute;
	top: 140px;
	left: 60px;
	width: 20px;
	height: 20px;
	background: green;
	border-bottom-left-radius: 20px;
}

.dash {
  position: absolute;
  left: 355px;
}

.dashline {
	position: absolute;
	top: 110px;
	left: 60px;
	width: 80px;
	height: 20px;
	background: green;
}


.letter-r {
	position: absolute;
  left: -40px;
  top: 180px;
}

.r-top-bar {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 20px;
	height: 20px;
	background: green;
}

.r-top-left-bar-corner {
	position: absolute;
	top: 80px;
	left: 60px;
	width: 20px;
	height: 20px;
	background: green;
	border-top-left-radius: 20px;
}

.r-left-bar {
	position: absolute;
	top: 100px;
	left: 60px;
	width: 20px;
	height: 60px;
	background: green;
}

.r-top-right-bar-corner {
	position: absolute;
	top: 80px;
	left: 100px;
	width: 20px;
	height: 20px;
	background: green;
	border-top-right-radius: 20px;
}

.letter-i {
	position: absolute;
  left: 25px;
  top: 180px;
}

.i-dot {
	position: absolute;
	top: 60px;
	left: 80px;
	width: 20px;
	height: 20px;
	background: green;
}

.i-stem {
	position: absolute;
	top: 100px;
	left: 80px;
	width: 20px;
	height: 60px;
	background: green;
}

.letter-z {
	position: absolute;
  top: 180px;
  left: 95px;
}

.z-top-bar {
	position: absolute;
	top: 80px;
	left: 60px;
	width: 60px;
	height: 20px;
	background: green;
}

.z-top-right-corner {
	position: absolute;
	top: 80px;
	left: 120px;
	width: 20px;
	height: 20px;
	background: green;
	border-top-right-radius: 20px;
}

.z-middle-bar {
	position: absolute;
	top: 100px;
	left: 84px;
	width: 30.5px;
	height: 41px;
	background: green;
	transform: skewX(-51deg);
}

.z-bottom-left-corner {
	position: absolute;
	top: 140px;
	left: 59.4px;
	width: 21.5px;
	height: 20px;
	background: green;
	border-bottom-left-radius: 20px;
}

.z-bottom-bar {
	position: absolute;
	top: 140px;
	left: 80px;
	width: 60px;
	height: 20px;
	background: green;
}

.letter-i2 {
	position: absolute;
  left: 190px;
  top: 180px;
}

.i2-dot {
	position: absolute;
	top: 60px;
	left: 80px;
	width: 20px;
	height: 20px;
	background: green;
}

.i2-stem {
	position: absolute;
	top: 100px;
	left: 80px;
	width: 20px;
	height: 60px;
	background: green;
}

.letter-n {
	position: absolute;
  left: 265px;
  top: 180px;
}

.n-left-bar {
	position: absolute;
	top: 80px;
	left: 60px;
	width: 20px;
	height: 80px;
	background: green;
}

.n-top-bar {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 20px;
	height: 20px;
	background: green;
}

.n-top-right-bar-corner {
	position: absolute;
	top: 80px;
	left: 100px;
	width: 20px;
	height: 20px;
	background: green;
	border-top-right-radius: 20px;
}

.n-right-bar {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 20px;
	height: 60px;
	background: green;
}

.letter-g {
	position: absolute;
  left: 355px;
  top: 180px;
}

.g-bowl-top-line {
	position: absolute;
	width: 40px;
	height: 20px;
	left: 80px;
	top: 80px;
	background: green;
}

.g-bowl-top-left-corner {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 60px;
	top: 80px;
	background: green;
	border-top-left-radius: 20px;
}

.g-bowl-left-line {
	position: absolute;
	width: 20px;
	height: 40px;
	left: 60px;
	top: 100px;
	background: green;
}

.g-bowl-bottom-left-corner {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 60px;
	top: 140px;
	background: green;
	border-bottom-left-radius: 20px;
}

.g-bowl-bottom-line {
	position: absolute;
	width: 40px;
	height: 20px;
	left: 80px;
	top: 140px;
	background: green;
}

.g-right-stem {
	position: absolute;
	top: 80px;
	left: 120px;
	width: 20px;
	height: 100px;
	background: green
}

.g-bottom-right-corner {
	position: absolute;
	top: 180px;
	left: 120px;
	width: 20px;
	height: 20px;
	background: green;
	border-bottom-right-radius: 20px;
}

.g-bottom-line {
	position: absolute;
	top: 180px;
	left: 80px;
	width: 40px;
	height: 20px;
	background: green;
}

.g-bottom-left-corner {
	position: absolute;
	top: 180px;
	left: 60px;
	width: 20px;
	height: 20px;
	background: green;
	border-bottom-left-radius: 20px;
}

.letter-t2 {
	position: absolute;
  left: -415px;
  top: 155px;
}

.t2-left-bar {
	position: absolute;
	top: 60px;
	left: 80px;
	width: 20px;
	height: 80px;
	background: green;
}

.t2-bottom-left-corner {
	position: absolute;
	top: 140px;
	left: 80px;
	width: 20px;
	height: 20px;
	background: green;
	border-bottom-left-radius: 20px;
}

.t2-bottom-bar {
	position: absolute;
	top: 140px;
	left: 100px;
	width: 20px;
	height: 20px;
	background: green;
}

.t2-cross-bar {
	position: absolute;
	top: 80px;
	left: 70px;
	width: 50px;
	height: 20px;
	background: green;
}

.letter-h2 {
position: absolute;
left: -320px;
top: 155px;
}

.h2-left-stem {
	position: absolute;
	top: 40px;
	left: 60px;
	width: 20px;
	height: 120px;
	background: green;
}

.h2-bowl-top-line {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 40px;
	height: 20px;
	background: green;
}

.h2-bowl-top-right-corner {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 120px;
	top: 80px;
	background: green;
	border-top-right-radius: 20px;
}

.h2-bowl-right-line {
	position: absolute;
	top: 100px;
	left: 120px;
	width: 20px;
	height: 60px;
	background: green;
}

.letter-e2 {
	position: absolute;
  left: -195px;
  top: 185px;
  transform: scale(0.82)
}

.e2left1 {
	position: absolute;
	top: 80px;
	left: 60px;
	width: 20px;
	height: 60px;
	background: green;
}

.e2lefttop1 {
	position: absolute;
	top: 60px;
	left: 60px;
	width: 20px;
	height: 20px;
	background: green;
}

.e2leftbottom1 {
	position: absolute;
	top: 140px;
	left: 60px;
	width: 20px;
	height: 20px;
	background: green;
	border-bottom-left-radius: 20px;
}

.e2topbar1 {
	position: absolute;
	top: 60px;
	left: 80px;
	width: 40px;
	height: 20px;
	background: green;
}

.e2righttop1 {
	position: absolute;
	top: 60px;
	left: 120px;
	width: 20px;
	height: 20px;
	background: green;
	border-top-right-radius: 20px;
}

.e2rightbar1 {
	position: absolute;
	top: 80px;
	left: 120px;
	width: 20px;
	height: 20px;
	background: green;
}

.e2rightbar2 {
	position: absolute;
	top: 100px;
	left: 120px;
	width: 20px;
	height: 20px;
	background: green;
	border-bottom-right-radius: 20px;
}
.e2bottombar1 {
	position: absolute;
	top: 100px;
	left: 80px;
	width: 40px;
	height: 20px;
	background: green;
}

.e2bottombar2 {
	position: absolute;
	top: 140px;
	left: 80px;
	width: 40px;
	height: 20px;
	background: green;
}

.e2bottombar3 {
	position: absolute;
	top: 140px;
	left: 120px;
	width: 20px;
	height: 20px;
	background: green;
	border-bottom-right-radius: 20px;
}

.letter-w {
	position: absolute;
  left: -375px;
  top: 290px;
}

.w-left-bar {
	position: absolute;
	top: 80px;
	left: 40px;
	width: 20px;
	height: 60px;
	background: green;
}

.w-bottom-left-corner {
	position: absolute;
	top: 140px;
	left: 40px;
	width: 20px;
	height: 20px;
	background: green;
	border-bottom-left-radius: 20px;
}

.w-bottom-bar {
	position: absolute;
	top: 140px;
	left: 60px;
	width: 80px;
	height: 20px;
	background: green;
}

.w-middle-bar {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 20px;
	height: 60px;
	background: green;
}

.w-right-bar {
	position: absolute;
	top: 80px;
	left: 120px;
	width: 20px;
	height: 60px;
	background: green;
}

.letter-e3 {
	position: absolute;
  left: -250px;
  top: 320px;
  transform: scale(0.82);
}

.e3left1 {
	position: absolute;
	top: 80px;
	left: 60px;
	width: 20px;
	height: 60px;
	background: green;
}

.e3lefttop1 {
	position: absolute;
	top: 60px;
	left: 60px;
	width: 20px;
	height: 20px;
	background: green;
}

.e3leftbottom1 {
	position: absolute;
	top: 140px;
	left: 60px;
	width: 20px;
	height: 20px;
	background: green;
	border-bottom-left-radius: 20px;
}

.e3topbar1 {
	position: absolute;
	top: 60px;
	left: 80px;
	width: 40px;
	height: 20px;
	background: green;
}

.e3righttop1 {
	position: absolute;
	top: 60px;
	left: 120px;
	width: 20px;
	height: 20px;
	background: green;
	border-top-right-radius: 20px;
}

.e3rightbar1 {
	position: absolute;
	top: 80px;
	left: 120px;
	width: 20px;
	height: 20px;
	background: green;
}

.e3rightbar2 {
	position: absolute;
	top: 100px;
	left: 120px;
	width: 20px;
	height: 20px;
	background: green;
	border-bottom-right-radius: 20px;
}
.e3bottombar1 {
	position: absolute;
	top: 100px;
	left: 80px;
	width: 40px;
	height: 20px;
	background: green;
}

.e3bottombar2 {
	position: absolute;
	top: 140px;
	left: 80px;
	width: 40px;
	height: 20px;
	background: green;
}

.e3bottombar3 {
	position: absolute;
	top: 140px;
	left: 120px;
	width: 20px;
	height: 20px;
	background: green;
	border-bottom-right-radius: 20px;
}

.letter-b {
position: absolute;
left: -160px;
top: 290px;
}

.b-left-stem {
	position: absolute;
	top: 50px;
	left: 60px;
	width: 20px;
	height: 110px;
	background: green;
}

.b-bowl-top-line {
	position: absolute;
	top: 80px;
	left: 80px;
	width: 40px;
	height: 20px;
	background: green;
}

.b-bowl-top-right-corner {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 120px;
	top: 80px;
	background: green;
	border-top-right-radius: 20px;
}

.b-bowl-right-line {
	position: absolute;
	top: 100px;
	left: 120px;
	width: 20px;
	height: 40px;
	background: green;
}

.b-bowl-bottom-right-corner {
	position: absolute;
	top: 140px;
	left: 120px;
	width: 20px;
	height: 20px;
	background: green;
	border-bottom-right-radius: 20px;
}
.b-bowl-bottom-line {
	position: absolute;
	top: 140px;
	left: 80px;
	width: 40px;
	height: 20px;
	background: green;
}
