body {
  font-family: 'Open Sans', sans-serif;
}

div.menuCont {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #f5f5f5;
}

div.leftSideBar {
  position: absolute;
  width: 300px;
  height: 85vh;
  top: 100px;
  left: 20px;
  bottom: 20px;
  background: #fff;
  border: 5px #1e1e1e solid;
}

div.weekCont {
  position: absolute;
  top: 100px;
  left: 340px;
}

div.charts {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 80px;
  width: 400px;
  height: 400px;
  background: #fff;
  border: 5px #1e1e1e solid;
  padding: 20px;
}


.charttitles {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

.sm-chart-main {
  width: 400px;
  height: 300px;
}

.sm-chart-battuse {
  width: 400px;
  height: 300px;
}
